BQ_PROJECT_ID=your-project-id
BQ_DATASET_ID=your_dataset
MGMT_TARGET_PROJECT_ID=your-managed-project-id
MGMT_TARGET_ORGANIZATION_ID=
WORKSPACE_CUSTOMER_ID=my_customer
EXECUTOR_IDENTITY=iam-runner@your-project-id.iam.gserviceaccount.com
GAS_INVOKER_EMAIL=iam-gas-invoker@your-project.iam.gserviceaccount.com
